:root {
    /* color palette */
    --bg-blacklayer : rgba(0,0,0,0.5);
    --bg-gray : #F2F3F7;
}

/* google font open sans */
html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--bg-blacklayer);
}

main {
    height: 100vh;
    max-height: 100vh;
}

main .row {
    background-color: var(--bg-gray);
}